aws_region  = "ap-northeast-2"
aws_profile = "umcproduct-admin"
environment = "prod"

shared_state_bucket = "REPLACE_WITH_TERRAFORM_STATE_BUCKET"
shared_state_key    = "umc-product-server/shared/terraform.tfstate"
shared_state_region = "ap-northeast-2"

jwt_key_ring_secret_arn     = "arn:aws:secretsmanager:ap-northeast-2:123456789012:secret:umc-product/prod/jwt-key-rings-PLACEHOLDER"
oauth_client_secret_arn     = "arn:aws:secretsmanager:ap-northeast-2:123456789012:secret:umc-product/prod/oauth-clients-PLACEHOLDER"
data_protection_secret_arn  = "arn:aws:secretsmanager:ap-northeast-2:123456789012:secret:umc-product/prod/data-protection-PLACEHOLDER"
database_secret_arn         = "arn:aws:secretsmanager:ap-northeast-2:123456789012:secret:umc-product/prod/database-PLACEHOLDER"
runtime_secret_kms_key_arn  = "arn:aws:kms:ap-northeast-2:123456789012:key/00000000-0000-0000-0000-000000000000"
rds_master_secret_arn       = "arn:aws:secretsmanager:ap-northeast-2:123456789012:secret:umc-product/prod/rds-master-PLACEHOLDER"
image_tag                   = "REPLACE_WITH_IMAGE_TAG"
